<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Dashboard</title>
</head>
<body>
  <header>
    <div class="logo">
      <img src="assets/images/logo.png" alt="Login Image">
      <h1>LEWLite</h1>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/identity-search">Identity Search</a></li>
        <li><a routerLink="/finger-search">Finger Search</a></li>
        <li><a routerLink="/ak23">AK23</a></li>
        <li><a routerLink="/user-management">User Management</a></li>
        <li><a routerLink="/reports">Reports</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <!-- Your dashboard content goes here -->
  </main>
</body>
</html>
