
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d2136;
  }

  .logo {
    display: flex;
  }
  h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
  }
  .logo img {
    width: 70px;
    height: 60px;
    margin-right: 7px;
  }

  .nav-link {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 16px;
  }
  .nav-link:hover {
    color:  #d21d08;
    transform: scaleY(1.1);
    border-bottom: 3px blue solid;
  }
  .navbar-nav{
    font-weight: 700;
  }

  .lite {
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 13px;
    background-color: gray;
    font-family: cursive;
  }

  @media only screen and (max-width: 600px) {
    .nav-link:hover {
      color:  #d21d08;
      border-bottom: none;
    }
    .nav-link {
      font-size: medium;
    }
  }

  

  