body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 70px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff; /* Add border */
    border-radius: 5px; /* Add rounded corners */
    padding: 8px 16px;
    transition: background-color 0.3s ease; /* Add smooth transition */
  }
  
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  