<body>
    <div class="py-2">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" width="76px" /> <span class="prj-name">LEW</span><span class="ver-name"> Lite</span></a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<div class="me-auto">
							
						</div>
						<div class="d-flex">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link">Identity Search</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">User Managment</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Report</a>
								</li>
								<li class="nav-item li-logout">
									<a class="nav-link" href="#"><i class='fas fa-power-off'></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
                </div>
            </nav>
        </div>
    </div>
</body>
