.FPsearch_inputs input {
    border: 1px solid gray;
    margin-bottom: 6px;
}
.FP {
    font-size: small;
    font-weight: 800;
}
.FP_body {
    background-color: wheat;
}
.Fprints span {
  display: inline-flex;  
}
.Fprints .card-body {
    background-color: lightgreen;
}
.Fprints .card {
    margin-right: 20px;
}

.FPname {
    font-size: 12px;
    font-weight: 600;
    background-color: #b12919;
    color: white;
}

    font-size: 37px;
    font-family: fantasy;
    font-weight: bold;
    color: #f00307;
    letter-spacing: 2px;
}

.ver-name {
    background: #747474;
    color: white;
    padding: 1px 11px;
    border-radius: 22px;
    font-size: 12px;
    display: inline-block;
    margin-top: 13px;
}