<div class="body">
    <div class="py-2">
        <div class="container">
			<div class="header row">Fingerprint Search</div>
			<div class="row text-white mt-lg-5 mt-4 FP_search">
				<div class="col-12 col-lg-4">
					<label class="col-form-label">Type of Crime</label>
					<input class="form-control custom-input" type="text">
				</div>
				<div class="col-12 col-lg-4">
					<label class="col-form-label">Date</label>
					<input class="form-control custom-input" type="date">
				</div>
				<div class="col-12 col-lg-4">
					<label class="col-form-label">Crime Scene Description</label>
					<input class="form-control custom-input" type="text">
				</div>
				<div class="col-12 col-lg-4">
					<label class="col-form-label">Officer's Name</label>
					<input class="form-control custom-input" type="text">
				</div>
				<div class="col-12 col-lg-4">
					<label class="col-form-label">Officer's Rank</label>
					<input class="form-control custom-input" type="text">
				</div>
				<div class="col-12 col-lg-4">
					<label class="col-form-label">Police Station</label>
					<input class="form-control custom-input" type="text">
				</div>
				<div class="col-12 col-lg-4">
					<label class="col-form-label">Database Type</label>
					<select class="form-control custom-input">
						<option>EKTP</option>
						<option>INAFIS</option>
						<option>BOTH</option>
					</select>
				</div>
				<div class="col-12 text-center mt-4">
					<button class="btn btn-submit search_BTN">search</button>
				</div>
			</div>
			<div class="row border border-light rounded p-lg-4 mt-3 mt-lg-4 FP">
				<div class="col-lg-6 col-12 mb-lg-4 mb-2">
					<div class="FP-container">
						<label for="" class="form-label fw-4 text-white">LEFT HAND</label>
						<table class="FP-name">
							<thead>
								<th>Thumb Finger</th>
								<th>Index Finger</th>
								<th>Middle Finger</th>
								<th>Ring Finger</th>
								<th>Pinky Finger</th>
							</thead>
							<tbody>
								<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
								<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
								<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
								<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
								<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-lg-6 col-12">
					<div class="FP-container">
						<label for="" class="form-label fw-4 text-white">RIGHT HAND</label>
						<table class="FP-name">
							<thead>
								<th>Thumb Finger</th>
								<th>Index Finger</th>
								<th>Middle Finger</th>
								<th>Ring Finger</th>
								<th>Pinky Finger</th>
							</thead>
							<tbody>
								<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
								<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
								<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
								<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
								<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-12 text-center mt-4">
					<button class="btn btn-submit search_BTN">search</button>
				</div>
			</div>
        </div>
    </div>
</div>
