.page_container {
    background-color: #041425;
    height: 100vh;
}

.Wrapper_page {
    padding-top: 30px;
}

.wrapper {
    background-color: rgba(255,255,255,0.10);
    backdrop-filter: blur(26px);
    border-radius: 7px;
    border: 1px solid rgba(255,255,255,0.1);
    width: 95%;
    margin-left: 30px;
    padding-top: 10px;
}
.nav {
    padding-left: 20px;
}
.nav-link {
    color: #fff;
    font-weight: 600;
}
.nav-link:hover {
    color: #d21d08;
}
.nav-link.active {
    background-color: #fff;
    color: black;
    box-shadow: 0px 0px 16px #03e9f4;
    width: 150px;
    text-align: center;
}
.no-pdf .customForm-control{
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}
.BTN {
    color: white;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.1);
    /*border: 1px black solid;*/
    transition: 0.4s;
    width: 100px;
}
.BTN:hover {
    color: black;
    font-weight: 600;
    background-color: white;
    box-shadow: 0px 0px 16px #03e9f4;
    border-radius: 20px;
}