.body {
    background-image: url(../../../assets/images/biometric-technology-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.container {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.62);
}
.form-title {
    border: 1px solid white;
    color: black;
    padding: 23px;
    border-radius: 3px;
    background-color: #fff;
    font-weight: 800;
}
.person_ID {
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(300px);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 18px 2px rgba(0, 0, 0, 0.37);
}
.nav-link {
    color: #fff;
}
.nav-link:hover {
    color: aqua;
}

.col-form-label {
    color: white;
}
.input_control {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    color: white;
}
.input_control:focus {
    border-bottom: 1px solid aqua;
}
.btn_search {
    color: white;
    border: 1px solid white;
    width: 150px;
    transition: 0.3s;
}
.btn_search:hover {
    background-color: white;
    box-shadow: 0px 0px 20px aqua;
    color: black;
    border-radius: 15px;
}
.btn_search:active {
    background-color: black;
    color: #fff;
}
.nav-link.active {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 20px aqua;
    font-weight: 800;
}

.personal_details {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 5px;
}

.NIK_details {
    padding: 20px;
}

.person-img img {
    box-shadow: 0px 0px 20px aqua;
    border-radius: 5px;
}
.download_btn {
    display: flex;
    justify-content: end;
    margin-top: 16px;
}
.download_details {
    border: 1px solid aqua;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}
.download_details:hover {
    color: black;
    background-color: white;
    box-shadow: 0px 0px 10px aqua;
    border-radius: 10px;
}
.download_details:active {
    background-color: black;
    color: white;
}
.FP-container {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
.FP-container .form-label {
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.FP-name {
    border: 1px solid aqua;
    color: white;
}
.FP-name td {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border: 1px solid black;
}