<div class="body">
<div class="container">
	<div class="row">
		<div class="col-12 mt-5">
			<div class="form-content">
				<div class="form-title">
					Identity Search / <span class="inside-title">Search By NIK</span>
				</div>
				<div class="mt-5 mb-2">
					<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Search By NIK</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Search By Name</button>
						</li>
					</ul>

					<div class="tab-content pt-4" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
							<div class="row">
								<div class="col-4">
									<label class="col-form-label">NIK Number</label>
									<input class="form-control input_control" type="text">
								</div>	
								<div class="col-12 mt-2 mt-lg-4">
									<button class="btn btn-submit px-4 btn_search">Search</button>
								</div>	

								<div class="form-content mt-3 mt-lg-5 NIK_details">
									<div class="row border border-light p-2 p-lg-4 rounded">
										<div class="col-12 col-lg-4 person-img mb-lg-0 mb-4">
											<img src="../../../assets/images/person-icon.png" alt="" width="300px">
										</div>
										<div class="col-12 col-lg-8">
											<div class="personal_details text-white row me-lg-3">
												<div class="col-lg-6 col-12">
													<div class="details">
														<label for="" class="form-label">Name: <span class="ms-1">John Doe</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">VIN: <span class="ms-1">1234567890</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Gender: <span class="ms-1">Male</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">NoKK: <span class="ms-1">1234567890</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Date of Birth: <span class="ms-1">10/05/1985</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Maritial Status: <span class="ms-1">Marrid</span> </label>
													</div>
												</div>
												
												<div class="col-lg-6 col-12">
													<div class="details">
														<label for="" class="form-label">Work: <span class="ms-1">Freelance</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Address: <span class="ms-1">123 ABC Street</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Province: <span class="ms-1">South Sumatra</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Regency: <span class="ms-1">Palembang City</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Sub-District: <span class="ms-1">Wheat</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Ward: <span class="ms-1">Tegal</span> </label>
													</div>
												</div>
												<div class="download_btn">
													<button class="btn btn-link download_details me-lg-3" type="button">Download to INAFIS</button>
													<button class="btn btn-link download_details" type="button">Download to Local</button>
												</div>
											</div>
										</div>
									</div>

									<div class="row border border-light rounded p-lg-4 mt-3 mt-lg-4">
										<div class="col-lg-6 col-12 mb-lg-4 mb-2">
											<div class="FP-container">
												<label for="" class="form-label fw-4 text-white">LEFT HAND</label>
												<table class="FP-name">
													<thead>
														<th>Thumb Finger</th>
														<th>Index Finger</th>
														<th>Middle Finger</th>
														<th>Ring Finger</th>
														<th>Pinky Finger</th>
													</thead>
													<tbody>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="60px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="60px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="60px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="60px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="60px"></td>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="FP-container">
												<label for="" class="form-label fw-4 text-white">RIGHT HAND</label>
												<table class="FP-name">
													<thead>
														<th>Thumb Finger</th>
														<th>Index Finger</th>
														<th>Middle Finger</th>
														<th>Ring Finger</th>
														<th>Pinky Finger</th>
													</thead>
													<tbody>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="60px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="60px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="60px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="60px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="60px"></td>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>