<div class="body">
<div class="container">
	<div class="row">
		<div class="col-12 mt-5">
			<div class="form-content">
				<div class="form-title">
					Identity Search / <span class="inside-title">Search By NIK</span>
				</div>
				<div class="mt-5 mb-2">
					<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="onActivatedTab('NIK')">Search By NIK</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" (click)="onActivatedTab('NAME')">Search By Name</button>
						</li>
					</ul>

					<div class="tab-content pt-4" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
							<div class="row">
								<div class="col-lg-4 col-12">
									<label class="col-form-label">NIK Number: 3173054808830011</label>
									<input class="form-control input_control" type="text" id="txtNIK" [(ngModel)]="nikNumber">
								</div>	
								<div class="col-12 mt-2 mt-lg-4">
									<button class="btn btn-submit px-4 btn_search" (click)="onNIKSearch(activeTab)">Search NIK</button>
								</div>	

								<div class="form-content mt-3 mt-lg-5 NIK_details" *ngIf="condition">
									<div class="row border border-light p-2 p-lg-4 rounded">
										<div class="col-12 col-lg-4 person-img mb-lg-0 mb-4">
											<img [src]="imageData" alt="Face Data" width="300px">
										</div>
										<div class="col-12 col-lg-8">
											<div class="personal_details text-white row me-lg-3">
												<div class="col-lg-6 col-12">
													<div class="details">
														<label for="" class="fw-3 form-label">Name: <span class="ms-1">{{ demogs?.Name }}</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">NIK:<span class="ms-1"> {{ demogs?.NIK }}</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Gender: <span class="ms-1">{{ demogs?.Gender }}</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">NoKK: <span class="ms-1">{{ demogs?.NIK }}</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Date of Birth: <span class="ms-1">{{ demogs?.DOB }}</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Maritial Status: <span class="ms-1">{{ demogs?.Statusperkawinan }}</span> </label>
													</div>
												</div>
												
												<div class="col-lg-6 col-12">
													<div class="details">
														<label for="" class="form-label">Work: <span class="ms-1">{{ demogs?.Perkawinan }}</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Address: <span class="ms-1">{{ demogs?.Alamat }}</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Province: <span class="ms-1">{{ demogs?.Prop }}</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Regency: <span class="ms-1">{{ demogs?.Kab }}</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Sub-District: <span class="ms-1">{{ demogs?.Kel }}</span> </label>
													</div>
													<div class="details">
														<label for="" class="form-label">Ward: <span class="ms-1">{{ demogs?.Kec }}</span> </label>
													</div>
												</div>
												<div class="download_btn">
													<button class="btn btn-link download_details me-lg-3" type="button">Download to INAFIS</button>
													<button class="btn btn-link download_details" type="button">Download to Local</button>
												</div>
											</div>
										</div>
									</div>

									<div class="row border border-light rounded p-lg-4 mt-3 mt-lg-4">
										<div class="col-lg-6 col-12 mb-lg-4 mb-2">
											<div class="FP-container">
												<label for="" class="form-label fw-4 text-white">LEFT HAND</label>
												<table class="FP-name">
													<thead>
														<th>Thumb Finger</th>
														<th>Index Finger</th>
														<th>Middle Finger</th>
														<th>Ring Finger</th>
														<th>Pinky Finger</th>
													</thead>
													<tbody>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="FP-container">
												<label for="" class="form-label fw-4 text-white">RIGHT HAND</label>
												<table class="FP-name">
													<thead>
														<th>Thumb Finger</th>
														<th>Index Finger</th>
														<th>Middle Finger</th>
														<th>Ring Finger</th>
														<th>Pinky Finger</th>
													</thead>
													<tbody>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
														<td><img src="../../../assets/images/fingerprint-icon.png" width="50px" height="70px"></td>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
							<div class="row text-white border border-light Name_search_container">
								<div class="col-lg-4 col-12">
									<label class="col-form-label">Name</label>
									<input class="form-control custom-input" type="text">
								</div>
								<div class="col-lg-4 col-12">
									<label class="col-form-label">Gender</label>
									<div class="mt-2">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
											<label class="form-check-label" for="inlineRadio1">Male</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
											<label class="form-check-label" for="inlineRadio2">Female</label>
										</div> 
									</div>
								</div>
								<div class="col-lg-4 col-12">
									<label class="col-form-label">Father's Name</label>
									<input class="form-control custom-input" type="text">
								</div>
								<div class="col-lg-4 col-12">
									<label class="col-form-label">Mother's Name</label>
									<input class="form-control custom-input" type="text">
								</div>
								<div class="col-lg-4 col-12">
									<label class="col-form-label">Address</label>
									<input class="form-control custom-input" type="text">
								</div>
								<div class="col-lg-4 col-12">
									<label class="col-form-label">Providence</label>
									<input class="form-control custom-input" type="text">
								</div>
								<div class="col-lg-4 col-12">
									<label class="col-form-label">Regency</label>
									<input class="form-control custom-input" type="text">
								</div>
								<div class="col-lg-4 col-12">
									<label class="col-form-label">Sub-District</label>
									<input class="form-control custom-input" type="text">
								</div>
								<div class="col-lg-4 col-12">
									<label class="col-form-label">Ward</label>
									<input class="form-control custom-input" type="text">
								</div>
								<div class="col-12 text-center mt-5">
									<button class="btn btn-submit px-4 BTN-search">Search</button>
								</div>
								
							</div>
							<!--DATA table will be binded here-->
						<div class="table_content mt-2">
							<table class="w-100 text-center table_NIK_list table mt-3 table-striped"> 
								<thead>
									<tr>
										<th>NIK</th>
										<th>Name</th>
										<th>Address</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
					
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
									<tr>
										<td>1234567890</td>
										<td>Jhon Doe</td>
										<td>abc passed road,Indonesia 763849</td>
									</tr>
								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>