<body class="login">
    <div class="home-top-background py-4 h-100vh">
        <div class="container">
            <div class="row align-items-center my-2">
				<div class="col-12">
					<div class="text-md-end text-center media-mt-5">
						<div class="form-outer">
							<h1 class="fw-normal">
								LOGIN
							</h1>
							<form>
								<input class="form-control" type="text" placeholder="Username" [(ngModel)]="loginObj.Username" name="Username" required="true">
								<input class="form-control" type="password" placeholder="Password" [(ngModel)]="loginObj.Password" name="Password" required="true">
								<button type="button" class="btn btn-link px-0">Forgot your password</button>
							</form>
							<button class="btn btn-login mt-3" (click)="onLogin()">Login</button>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</body>