.body {
    background-image: url(../../../assets/images/login_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(6px);
    padding: 60px;
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.43);
    transition: 0.4s;
}
.form:hover {
    box-shadow: 0px 0px 36px aqua;
}
.BTN_login {
    text-align: center;
    margin-top: 20px;
}
.btn {
    border: 1px solid white;
    width: 200px;
    color: white;
    transition: 0.4s;
    font-weight: 700;
}
.btn:hover {
    color: black;
    background-color: white;
    border-radius: 16px;
    width: 150px;
    box-shadow: 0px 0px 20px aqua;
    border: 1px solid rgba(0, 0, 0, 0.7);
    font-weight: 700;
}
.login_header {
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input_control {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    color: white;
}
.input_control:focus {
    border-bottom: 1px solid aqua;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 13px;
    transition: 0.4s;
}